@import "../scss/icons.scss";
@import "../scss/config/material/bootstrap.scss";
@import "../scss/config/material/app.scss";
@import "../scss/config/material/custom.scss";
@import "./shepherd.css";
@import "./mermaid.min.css";

// @import "./components/demos.scss";

//RTL
// @import "../scss/rtl/components-rtl";
// @import "../scss/rtl/layouts-rtl";
// @import "../scss/rtl/plugins-rtl";
// @import "../scss/rtl/pages-rtl";

//Rigthsidebar offcanvas
.offcanvas-header-dark {
  .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
  }
}

body {
  * {
    outline: none;
  }
}

.noUi-horizontal .noUi-handle {
  height: 16px !important;
  width: 16px !important;
  border-radius: 50% !important;
  right: -10px !important;
  top: -7px !important;
}

.noUi-connect,
.noUi-horizontal {
  height: 2px !important;
  background: #4b38b3;
}

.noUi-handle {
  background: #4b38b3 !important;
  border: 2px solid var(--vz-card-bg) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.noUi-target {
  background: #fafafa !important;
  border-radius: 4px !important;
  border: 1px solid #d3d3d3 !important;
  background-color: var(--vz-light) !important;
  border-color: var(--vz-light) !important;
  box-shadow: none !important;
  height: 4px !important;
}

.dropzone .dz-message {
  text-align: center;
}

// //Calendar
.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  padding: 5px !important;
  font-size: 12px !important;
  margin-right: 2px;
}

.fc-event {
  border: none !important;
}

@include media-breakpoint-down(sm) {
  .fc-toolbar {
    display: block !important;
    text-align: center;

    .fc-left,
    .fc-right,
    .fc-center {
      float: none;
      display: block;
      clear: both;
      margin: 10px 0;
    }
  }

  .fc {
    .fc-toolbar {
      >* {
        >* {
          float: none;
        }
      }
    }
  }

  .fc-today-button {
    display: none;
  }
}

.flatpickr-calendar.open {
  z-index: 1090 !important;
}

.upcoming-scheduled .flatpickr-input[readonly] {
  display: none;
}

.ql-container.ql-snow {
  height: 250px;
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #405189 !important;
}

// .Toastify__toast{
//   min-height: 43px !important;
//   max-height: 43px !important;
// }

@each $color,
$value in $theme-colors {
  .simplebar-track-#{$color} {
    .simplebar-scrollbar:before {
      background: $value !important;
    }
  }
}

// chat
.chat-conversation .chat-list .message-box-drop {
  .nav-btn {
    font-size: 18px;
    padding: 4px;
    color: $gray-600;
  }
}

.chatwidgets {
  height: 250px !important;
}

[data-layout="horizontal"] .chat-conversation {
  &.chatwidgets {
    height: 250px !important;
  }
}

// authentication

#tsparticles {
  canvas {
    position: absolute !important;
  }
}

.alert-msg-show {
  right: 24px;
  top: 40px;
  z-index: 1005;
}

// Emoji Picker

.pickerEmoji {
  position: absolute;
  bottom: -50px;
  left: 10%;
  transform: translateX(-50%);
}

// Toast
.Toastify {
  .Toastify__toast {
    min-height: 43px;
  }

  .Toastify__close-button {
    top: 6px;
  }

  .Toastify__close-button--light {
    color: $light;
  }
}

// Tranfer List

.rdl-filter,
.rdl-control {
  background-color: $input-bg;
  border: 1px solid $input-border-color !important;
  color: $input-color !important;
}

.rdl-move {
  background: var(--#{$prefix}light) !important;
  border: 1px solid var(--#{$prefix}light) !important;
  color: var(--#{$prefix}body-color) !important;
}

.react-dual-listbox {

  input:disabled,
  select:disabled {
    background-color: $input-disabled-bg !important;
    border: 1px solid $input-border-color !important;
  }
}

.css-26l3qy-menu {
  background-color: var(--#{$prefix}gray-200) !important;
  border-color: var(--#{$prefix}border-color) !important;
}

.css-1n7v3ny-option {
  background-color: var(--#{$prefix}gray-300) !important;
  border-color: var(--#{$prefix}border-color) !important;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--#{$prefix}input-bg) inset !important;
  background-color: var(--#{$prefix}input-bg) !important;
  color: var(--#{$prefix}body-color) !important;
  -webkit-text-fill-color: var(--#{$prefix}body-color) !important;
}

//datatables
.kbunWL,
.ddeqMG {

  .cFDtZf,
  .efrTRK {
    color: $table-color;
  }

  :is(.kdYplh, .dUdLgu) {
    background-color: var(--#{$prefix}secondary-bg);
    border-bottom-color: var(--#{$prefix}border-color);
  }

  .dUdLgu {
    color: $table-color;

    &:not(:last-of-type) {
      border-bottom-color: var(--#{$prefix}border-color);
    }
  }
}

.card-body {
  .fjmwMg {
    color: $table-color;
    background-color: var(--#{$prefix}secondary-bg);
    border-top-color: var(--#{$prefix}border-color);

    .flbsZw {
      color: $table-color;
      fill: $table-color;

      &:disabled {
        color: var(--#{$prefix}tertiary-color);
        fill: var(--#{$prefix}tertiary-color);
      }
    }
  }
}

//react select
.css-b62m3t-container {
  .css-13cymwt-control {
    background-color: var(--#{$prefix}secondary-bg);
    color: var(--#{$prefix}body-color);
    border-color: var(--#{$prefix}border-color);

    &:hover,
    &:focus {
      border-color: var(--#{$prefix}primary);
    }

    .css-1p3m7a8-multiValue {
      color: var(--#{$prefix}white);
      background-color: var(--#{$prefix}primary);

      .css-wsp0cs-MultiValueGeneric {
        color: var(--#{$prefix}white);
      }

      .css-1u9des2-indicatorSeparator {
        border-color: var(--#{$prefix}border-color);
      }
    }
  }

  :is(.css-qbdosj-Input, .css-1dimb5e-singleValue) {
    color: var(--#{$prefix}body-color);
  }

  .css-t3ipsp-control {
    background-color: var(--#{$prefix}secondary-bg);
    color: var(--#{$prefix}body-color);
    border-color: var(--#{$prefix}border-color);

    .css-1p3m7a8-multiValue {
      color: var(--#{$prefix}white);
      background-color: var(--#{$prefix}primary);

      .css-wsp0cs-MultiValueGeneric {
        color: var(--#{$prefix}white);
      }

      .css-1u9des2-indicatorSeparator {
        border-color: var(--#{$prefix}border-color);
      }
    }
  }

  .css-1nmdiq5-menu {
    background-color: var(--#{$prefix}secondary-bg);
    color: var(--#{$prefix}body-color);
    border-color: var(--#{$prefix}border-color);

    .css-d7l1ni-option {
      color: $white;
      background-color: var(--#{$prefix}primary);

      &:hover,
      &:active,
      &:focus {
        background-color: var(--#{$prefix}primary);
      }
    }
  }
}


.box-choose {
  padding: 10px;
  box-shadow: 0 0 10px #eeeeee;
  margin-bottom: 15px;
  border-radius: 10px;
  padding-bottom: 5px;
}

.header-currency .dropdown {
  overflow: hidden;
  visibility: hidden;
  list-style: none;
  padding: 5px;
  position: absolute;
  background: rgb(255, 255, 255);
  width: 100%;
  bottom: -60px;
  border-radius: 5px;
  box-shadow: rgb(238, 238, 238) 0px 0px 10px;
  border: 1px solid rgb(238, 238, 238);
  max-height: 0;
  transition: max-height 0.3s;
}

.header-currency .dropdown.active {
  visibility: visible;
  max-height: 400px;
}

.header-currency .dropdown li {
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #fff;
  padding: 5px;
  line-height: 1;
  border-radius: 5px;
}

.header-currency .dropdown li:hover {
  background-color: #fff3dd;
  border: 1px solid #9e6a08;
}

.add-btn-step {
  display: block;
  text-align: center;
  background: rgb(0, 153, 255);
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

.add-btn-step:hover {
  background: rgb(0, 128, 255);
}

.step {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #f3f3f3;
  background: #fff;
  position: relative;
}

.container-step {
  padding: 10px;
  border-radius: 10px;
  background-color: #fafafa;
  margin-bottom: 10px;
}

.container-step h3 {
  font-size: 16px;
  color: #444;
}

.container-step .delete {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  background-color: red;
  line-height: 1;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.container-step .table-card {
  margin: 0;
}

.container-phone-number ul {
  list-style: none;
  padding-left: 0;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 5px;
}

.container-phone-number ul li {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 5px;
}

.container-phone-number ul li h5 {
  flex: 70%;
  max-width: 70%;
  font-size: 14px;
  margin-bottom: 0;
}

.container-phone-number ul li span {
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.container-phone-number ul li span.btn-primary {
  display: inline-block;
  padding: 5px 10px;
  background-color: #4b38b3;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.container-phone-number .content-btn {
  flex: 18%;
  max-width: 18%;
}

.container-phone-number .content-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.container-phone-number .content-btn .mdi-delete-empty {
  font-size: 16px;
  cursor: pointer;
  color: red;
}

.container-phone-number .content-btn .mdi-file-edit {
  font-size: 16px;
  cursor: pointer;
  color: rgb(0, 110, 255);
}

.checkPermission {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-top: 0;
  margin-right: 5px;
}

.subPermission {
  display: flex;
  gap: 10px;
}

.file-uploads {
  width: 100%;
}

.file-upload {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 10px;
  border: 1px dashed #c6c6c6;
  height: 160px;
  border-radius: 5px;
  cursor: pointer;
}

.sample-excel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  width: 100%;
  padding: 10px;
  border: 1px solid #c6c6c6;
  cursor: pointer;
  border-radius: 5px;
}

.sample-excel .content-Image img {
  width: 40px;
  margin-bottom: 10px;
}

.file-upload .content-Image img {
  width: 50px;
  margin-bottom: 10px;
}

.file-upload .content-text span {
  color: rgb(0, 89, 255);
  text-decoration: 1px underline solid rgb(0, 89, 255);
}

.file-upload .content-text h6 {
  color: #444;
}

.file-upload .content-text p {
  font-size: 11px;
}